@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #515753;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login { 
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;

    overflow: hidden;

    background-color: white;
    width: 1200px;
    height: 800px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;

    transform: translate(-50%, -50%);
}

section#login > div#imagem { 
    display: block;
    background: url(../imagens/pexels-jj-jordan-44924743-9241893.jpg);
    background-size: cover;
    background-position: center;
    float: right;
    width: 50%;
    height: 100%;
}

section#login > div#imglogin {
    position: absolute;
    background: url(../imagens/pexels-cihan-karacayir-774859403-18889041.jpg);
    background-size: cover;
    background-position: center;
    width: 5%;
    height: 7%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px;
    
    top: 20%;
    left: 25%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

section#login > div#formulario { 
    margin-top: 210px;  
}

div#formulario > h1 { 
    margin-bottom: 20px;
}

div#formulario > p {
    color: rgb(124, 123, 123);
    margin-bottom: 25px;
    font-size: 15px;
}

div#formulario > form > div#campo {
    display: block;
    width: 50%;
    height: 100%;
    padding: 15px;
    margin-bottom: 2px;
}

div#formulario > form > div#campo > input {
    width: 60%;
    height: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 0px 0px 1px;
    padding: 10px;
}

div#formulario > form > div#continueprincipal > input[type="submit"] { 
    background-color: rgb(18, 19, 19);
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;

}

div#formulario > form > .logincontinue > input[type="submit"] { 
    background-color: white;
    font-weight: bold;
    width: 29%;
    height: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 0px 0px 1px;
    padding: 10px;
    margin-top: 10px;
}

div#formulario > form > div#continueprincipal > input[type="submit"]:hover { 
    transform: translateY(-2px);
    transition: 0.2s;
    background-color: #682222;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

div#formulario > form > .logincontinue > input[type="submit"]:hover { 
    transform: translateY(-2px);
    transition: 0.2s;
    background-color: lightgray;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #777;
}

.divider::before,
.divider::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #ccc;
}

.divider span {
    padding: 0 10px;
}

div#formulario > #pfinal {
    margin-top: 25px;
}

div#formulario > #pfinal > a {
    color: black;
}